
body {
margin:0;
font-family: Arial, sans-serif;
}

#header {
    background:#C3C3E5;
    border-bottom:5px solid;
    text-align:center;
    padding:10px 0;
}
#header h1 {
    margin:10px 0;
    font-size:32px;
    font-weight:bold;
}  


#text {
    width:90%;
    margin:30px auto;
    padding:10px;
    background:rgb(255, 255, 255);  
}

#text p {
    background:#C3C3E5;
    margin:1px 0;
    padding:20px;
    text-indent:40px;
    font-size:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border:5px dashed #000;
}

#text p:first-child {
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border:5px dashed #000;
    background:url("../images/fondoParrafo.png") repeat;
}

#text p:last-child {
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    border:5px dashed #000;
}

#menu {
    margin-top:30px;
    text-align:center;
}

#menu a{
    text-decoration:none;
    color: #8c489f;
    font-weight:bold;
    
}
#menu ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content:center;
    gap:15px;

}

#menu li{
    border-left:5px solid #ff0000;
    padding-left:5px;
}

#menu li a:hover{
    border-bottom:5px solid #ff0000;

}

#footer{
    border-top:5px solid #443266;
    text-align:center;
    background: #8C489F;
    color: #F1F0FF;
    margin-bottom: 20px;
}

#footer a{
    color:#ffffff;
    text-decoration:none;
}

#footer a:hover{
    background:#ffffff;
    color: #000;

}
#image img{
    border:4px solid #000;
    margin-top:20px;
    margin-right:60px;
    float:right;
    max-width:420px;
    width: 100%;
    height:auto;
      
}

#image{
    overflow:auto;
}

@media all and (max-width: 500px) {
    #image img{
        width:90%;
        max-width:500px;
        height:auto;
        border-color:red;
        float:none;
        display:block;
        margin:20px auto;
        
    }

    #image{
        padding-right:0;
        text-align:center;
}
}